@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
body {
  background-color: #a25de4;
  color: #000000;
}

@media (max-width: 1024px) {
  html,
  body,
  * {
    font-size: 9px;
  }
  .card-container {
    display: flex;
    flex: wrap;
    flex-direction: row;
    align-items: center;
  }
  .theCard {
    width: 28vw;
  }
}
@media (max-width: 768px) {
  :root {
  }
  html,
  body,
  * {
    font-size: 8px;
  }
  .card-container {
    display: flex;
    flex: wrap;
    flex-direction: row;
    align-items: center;
  }
  .theCard {
    width: 40vw;
  }
}
@media (max-width: 480px) {
  html,
  body,
  * {
    font-size: 5.4px;
  }
  .card-container {
    display: flex;
    flex: wrap;
    flex-direction: row;
    align-items: center;
  }
  .theCard {
    width: 50vw;
  }
}
